{% extends "html.html.twig" %}
{% block teaser %}
    <section id="teaser" class="container-fluid">
        <div class="carousel slide" data-ride="carousel">
            <figure class="carousel-inner">
                <img src=" {{ teaser.md }}" srcset=" {{ teaser.dt }} 2x,  {{ teaser.lg }} 3x" class="img-fluid" alt="{{ title }}">
            </figure>
        </div>
    </section>
{% endblock %}
{% block content %}
    <div class="container">
        <header>
            <h1>{{ title }}</h1>
        </header>
    <div class="row">
        <main>
            <section>
                <header>
                    <h2></h2>
                </header>
                <p class="important">
                    Welcome on my awesome registerpage (account).
                </p>
            </section>
        </main>
    </div>
{% endblock %}